/* MAIN_IMAGE */
.home-section > h1 {
  text-align: center;
  color: #fff;
  position: absolute;
}
/* contener */

.contener {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  left: 50%;
  opacity: 0;
  justify-content: center;
  align-items: center;
}
.box1 {
  width: 30%;
  height: 400px;
  background: #ffffff;
  border-radius: 23px;
  padding: 1%;
}
.box1 > h1 {
  width: 95%;
  color: white;
  background: #545ae8;
  border-radius: 8px;
  padding: 5%;
  text-align: center;
  margin-bottom: 5%;
  font-size: 100%;
}

.box1 > p {
  font-size: 100%;
  padding: 5%;
}
.box2 {
  width: 40%;
  text-align: center;

  height: 55%;
}
.box2 > img {
  width: 80%;
}

.item1 {
  padding-bottom: 25%;
}
/* bilan */

.bilan {
  margin-top: 5%;
  height: 20vh;
  width: 100%;
  background-color: #485874;
  display: flex;
  justify-content: center;
  gap: 18%;
  padding-top: 3%;
}
.bilan > .bitan-item {
  color: white;
}
.bilan > .bitan-item > p {
  font-size: 40px;
}

/*  notre equipe*/
h2 {
  text-align: center;
  padding: 5%;
}
/* card */
.contener1 {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 5%;
  /* border: 1px solid black; */
  width: 35%;
  padding: 5px;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 0;
}
p {
  line-height: 1.5;
  margin: 0 auto 1em;
}
h3 {
  line-height: 1;
  margin: 0 auto 1rem;
  padding: 0;
  display: block;
  font-weight: 600;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 0;
}
p {
  line-height: 1.5;
  margin: 0 auto 1em;
}
.card > h3 {
  line-height: 1;
  margin: 0 auto 1rem;
  padding: 0;
  text-align: center;
  display: block;
  font-weight: 600;
}
.card {
  display: block;
  width: 70%;
  max-width: 480px;
  max-width: 320px;
  max-width: 340px;
  max-width: 360px;
  margin-right: 10px;
  /* margin-left: 1%; */
  background-color: #fff;
  border-radius: 1.75rem;

  box-shadow: 0 16px 24px -12px rgba(black, 0.15);
}



h3 {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
.contener2 {
  color: white;
  height: 100px;
}
.contener2 > img {
  height: 15vh;
  object-fit: cover;
}
form > input[type="text"] {
  width: 30%;
  height: 45px;
  border: transparent;
}
form > input[type="submit"] {
  width: 10%;
  height: 45px;
  background-color: #545ae8;
  border: transparent;
}
form {
  text-align: center;
  transform: translateY(-170%);
}

/* investissseur */

/* FOOTER */
.footerLogo {
  margin-top: 50px;
}
.footerLogo img {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 120px;
  height: 50px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
}
footer {
  /* margin-top: 30px; */
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
  background-color: #545ae8;
}
footer i {
  color: black;
  padding-right: 20px;
  font-size: 2rem;
  padding-bottom: 50px;
  padding-left: 10px;
}
footer h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
footer p {
  padding-top: 5px;
  font-size: 1.2rem;
}
.nous_suivre h1 {
  padding-bottom: 5px;
  padding-left: 30px;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

/* hea  der */

:root {
  --colorPrimaire: #545ae8;
  --border: #1b8af1;
}

body {
  line-height: 1.5;
  background-color: #edf2f8;
  font-weight: 400;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.element {
  width: 100%;
  height: auto;
}
.container {
  max-width: 1170px;
  margin: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/*home section*/
.home-section {
  width: 100%;
  display: block;
  min-height: 80vh;
  background-image: url("../IMAGES/etudiants-africains-850x478.jpeg");
  object-fit: cover;
  background-position: center top;
  background-size: cover;
  height: 732px;
  display: flex;
  justify-content: center;
}
.home-section h1 {

  text-align: center;
  padding-top: 220px;
  font-size: 2.6rem;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  width: 60%;
  height: auto;
}

/* header */

:root {
  --colorPrimaire: #545ae8;
  --border: #1b8af1;
}

body {
  line-height: 1.5;
  background-color: #edf2f8;
  font-weight: 400;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.element {
  width: 100%;
  height: auto;
}
.container {
  max-width: 1170px;
  margin: auto;
} 
.xon {
  width: 100%;
  height: 100vh;
  position: relative;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/*header*/
.header {
  width: 100%;
  
  padding: 0.1rem;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat";
  padding: 10px 0;
  border-radius: 4px;
}
.header .logo {
  padding: 0 15px;
}
.header .logo a {
  font-size: 30px;
  text-transform: capitalize;
  color: var(--colorPrimaire);
  font-weight: 600;
}
.header .nav-menu {
  padding: 0 15px;
}

.header .menu > .menu-item {
  display: inline-block;
  margin-left: 30px;
  position: relative;
}
.header .menu > .menu-item > a {
  display: block;
  padding: 12px 0;
  font-size: 16px;
  color: #000000;
  text-transform: capitalize;
  font-weight: 600;
  transition: all 0.3s ease;
}
.header .menu > .menu-item > a .plus {
  display: inline-block;
  height: 12px;
  width: 12px;
  position: relative;
  margin-left: 5px;
  pointer-events: none;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  background-color: #000000;
  height: 2px;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after {
  background-color: var(--colorPrimaire);
}
.header .menu > .menu-item > a .plus:after {
  transform: translate(-50%, -50%) rotate(-90deg);
}
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a {
  color: var(--colorPrimaire);
}
.header .menu > .menu-item > .sub-menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 220px;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #ffffff;
  padding: 10px 0;
  border-top: 3px solid var(--colorPrimaire);
  transform: translateY(10px);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.header .menu > .menu-item > .sub-menu > .menu-item {
  display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  transition: all 0.3s ease;
  text-transform: capitalize;
}
.header .open-nav-menu {
  height: 34px;
  width: 40px;
  margin-right: 15px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header .open-nav-menu span {
  display: block;
  height: 3px;
  width: 24px;
  background-color: #000000;
  position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  box-sizing: border-box;
}
.header .open-nav-menu span:before {
  top: -7px;
}
.header .open-nav-menu span:after {
  top: 7px;
}
.header .close-nav-menu {
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  margin: 0 0 15px 15px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}
.header .close-nav-menu img {
  width: 16px;
}
.header .menu-overlay {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.card > p {
  text-align: center;
}

/* responsive */
/* @media (min-width: 992px) {
  .header .menu > .menu-item-has-children:hover > .sub-menu {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .header .menu > .menu-item-has-children:hover > a .plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }
} */

/* @media (max-width: 991px) {
  .header .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }
  .header .nav-menu {
    position: fixed;
    right: -280px;
    visibility: hidden;
    width: 280px;
    height: 100%;
    top: 0;
    overflow-y: auto;
    background-color: #222222;
    z-index: 1000;
    padding: 15px 0;
    transition: all 0.5s ease;
  }
  .header .nav-menu.open {
    visibility: visible;
    right: 0px;
  }
  .header .menu > .menu-item {
    display: block;
    margin: 0;
  }
  .header .menu > .menu-item-has-children > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .menu > .menu-item > a {
    color: #ffffff;
    padding: 12px 15px;
    border-bottom: 1px solid #333333;
  }
  .header .menu > .menu-item:first-child > a {
    border-top: 1px solid #333333;
  }
  .header .menu > .menu-item > a .plus:before,
  .header .menu > .menu-item > a .plus:after {
    background-color: #ffffff;
  }
  .header .menu > .menu-item-has-children.active > a .plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  .header .menu > .menu-item > .sub-menu {
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    border: none;
    background-color: transparent;
    box-shadow: none;
    transform: translateY(0px);
    padding: 0px;
    left: auto;
    top: auto;
    max-height: 0;
    overflow: hidden;
  }
  .header .menu > .menu-item > .sub-menu > .menu-item > a {
    padding: 12px 45px;
    color: #ffffff;
    border-bottom: 1px solid #333333;
  }
  .header .close-nav-menu,
  .header .open-nav-menu {
    display: flex;
  }
} */

@media (min-width: 992px) {
  .header .menu > .menu-item-has-children:hover > .sub-menu {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .header .menu > .menu-item-has-children:hover > a .plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@media (max-width: 991px) {
  .header .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }
  .header .nav-menu {
    position: fixed;
    right: -280px;
    visibility: hidden;
    width: 280px;
    height: 100%;
    top: 0;
    overflow-y: auto;
    background-color: #222222;
    z-index: 1000;
    padding: 15px 0;
    transition: all 0.5s ease;
  }
  .header .nav-menu.open {
    visibility: visible;
    right: 0px;
  }
  .header .menu > .menu-item {
    display: block;
    margin: 0;
  }
  .header .menu > .menu-item-has-children > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .menu > .menu-item > a {
    color: #ffffff;
    padding: 12px 15px;
    border-bottom: 1px solid #333333;
  }
  .header .menu > .menu-item:first-child > a {
    border-top: 1px solid #333333;
  }
  .header .menu > .menu-item > a .plus:before,
  .header .menu > .menu-item > a .plus:after {
    background-color: #ffffff;
  }
  .header .menu > .menu-item-has-children.active > a .plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  .header .menu > .menu-item > .sub-menu {
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    border: none;
    background-color: transparent;
    box-shadow: none;
    transform: translateY(0px);
    padding: 0px;
    left: auto;
    top: auto;
    max-height: 0;
    overflow: hidden;
  }
  .header .menu > .menu-item > .sub-menu > .menu-item > a {
    padding: 12px 45px;
    color: #ffffff;
    border-bottom: 1px solid #333333;
  }
  .header .close-nav-menu,
  .header .open-nav-menu {
    display: flex;
  }
}




@media (max-width: 1440px) {
  .contener1 {
    width: 50%;
  }
}


@media (width: 1024px) {
  .home-section {
    width: 100%;
    display: block;
    min-height: 60vh;
    background-position: center top;
    background-size: cover;
  }
  .contener1 {
    width: 60%;
  }
  .home-section > h1 {
    text-align: center;
    color: #fff;
    top: 30%;
    left: 35%;
    font-size: 2.5rem;
  }
  .box1 {
    width: 40%;
  }
  .item > img {
    height: 40vh;

    object-fit: cover;
  }
  form > input[type="text"] {
    width: 50%;
    height: 45px;
    border: transparent;
  }
  form > input[type="submit"] {
    width: 20%;
    height: 45px;
    border: transparent;
  }
}
@media (width: 768px) {
  .home-section {
    width: 100%;
    display: block;
    min-height: 60vh;
    background-position: center top;
    background-size: cover;
  }
  .contener1 {
    width: 60%;
  }
  .home-section > h1 {
    text-align: center;
    color: #fff;
    top: 30%;
    left: 35%;
    font-size: 2.5rem;
  }
  .box1 {
    width: 50%;
  }
  .item > img {
    height: 40vh;

    object-fit: cover;
  }
  form > input[type="text"] {
    width: 50%;
    height: 45px;
    border: transparent;
  }
  form > input[type="submit"] {
    width: 20%;
    height: 45px;
    border: transparent;
  }
}
@media (width: 425px) {
  .home-section {
    width: 100%;
    display: block;
    min-height: 40vh;
    background-position: center top;
    background-size: cover;
  }
  .home-section > h1 {
    text-align: center;
    color: #fff;
    top: 22%;
    left: 25%;
    position: absolute;
    font-size: 2.5rem;
  }
  .contener1 {
    width: 95%;
  }
  .contener {
    display: flex;
    flex-direction: column;
  }
  .box1 {
    width: 70%;
  }
  .item {
    width: 80%;
    object-fit: cover;
  }
  form > input[type="text"] {
    width: 50%;
    height: 45px;
    border: transparent;
  }
  form > input[type="submit"] {
    width: 20%;
    height: 45px;
    border: transparent;
  }
}
@media (width: 375px) {
  .home-section {
    width: 100%;
    display: block;

    min-height: 40vh;
    background-position: center top;
    background-size: cover;
  }
  .contener1 {
    width: 95%;
  }
  .home-section > h1 {
    text-align: center;
    color: #fff;
    top: 22%;
    left: 25%;
    position: absolute;
    font-size: 2.5rem;
  }
  .contener {
    display: flex;
    flex-direction: column;
  }
  .box1 {
    width: 90%;
  }
  .item {
    width: 80%;
    object-fit: cover;
  }
  form > input[type="text"] {
    width: 50%;
    height: 45px;
    border: transparent;
  }
  form > input[type="submit"] {
    width: 20%;
    height: 45px;
    border: transparent;
  }
}
@media (width: 320px) {
  .home-section {
    width: 100%;
    display: block;
    min-height: 40vh;
    background-position: center top;
    background-size: cover;
}

  .home-section > h1 {
    text-align: center;
    color: #fff;
    top: 22%;
    left: 25%;
    position: absolute;
    font-size: 2.5rem;
  }
  .contener {
    display: flex;
    flex-direction: column;
  }
  .box1 {
    width: 95%;
  }
  .item {
    width: 80%;
    object-fit: cover;
  }
  .item > img {
    width: 100%;
  }
  form > input[type="text"] {
    width: 50%;
    height: 45px;
    border: transparent;
  }
  form > input[type="submit"] {
    width: 20%;
    height: 45px;
    border: transparent;
  }
  .contener1 {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 5%;
    /* border: 1px solid black; */
    width: 100%;
    padding: 5px;
  }
}
