*, *::after,*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--colorPrimaire : #545AE8;
	--border: #1B8AF1;
	
}

body{
	line-height: 1.5;
	background-color: #EDF2F8;
	font-weight: 400;
}

*, *::after, *::before{
	margin:0;
	box-sizing: border-box;
	padding: 0;
}
.element{
	width: 100%;height: auto;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.xon{
	width: 100%;
	height: 100vh;
	position: relative;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
/*header*/
.header{
	width: 100%;
	padding: 0.1rem;
}
.header-main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Montserrat';
	padding: 10px 0;
	border-radius: 4px;
}
.header .logo{
	padding: 0 15px;
}
.header .logo a{
	font-size: 30px;
	text-transform: capitalize;
	color: var(--colorPrimaire);
	font-weight: 600;
}
.header .nav-menu{
	padding: 0 15px;
}
.header .menu > .menu-item{
	display: inline-block;
	margin-left: 30px;
	position: relative;
}
.header .menu > .menu-item > a{
	display: block;
	padding: 12px 0;
	font-size: 16px;
	color: #000000;
	text-transform: capitalize;
	font-weight: 600;
	transition: all 0.3s ease;
}
.header .menu > .menu-item > a .plus{
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left:5px; 
	pointer-events: none;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after{
	content:'';
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top:50%;
	background-color: #000000;
	height: 2px;
	width: 100%;
	transform: translate(-50%,-50%);
	transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after{
   background-color: var(--colorPrimaire);
}
.header .menu > .menu-item > a .plus:after{
   transform: translate(-50%,-50%) rotate(-90deg);	
}
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a{
	color: var(--colorPrimaire);
}
.header .menu > .menu-item > .sub-menu{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 220px;
	position: absolute;
	left:0;
	top:100%;
	background-color: #ffffff;
	padding: 10px 0;
	border-top: 3px solid var(--colorPrimaire);
	transform: translateY(10px);
	transition: all 0.3s ease;
	opacity:0;
	visibility: hidden;
}
/*home section*/
.home-section{
	width: 100%;
	display: block;
	min-height: 80vh;
	background-image: url('../IMAGES/pexels-photo-207691.jpeg');
	background-position: center top;
	background-size: cover;
	display: flex;
    justify-content: center;
}
.home-section h1 {
    text-align: center;
    padding-top: 220px;
    font-size: 3.2rem;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    width: 70%;
    height: auto;
  }
.class-sect .title{
	font-weight: bold;
	font-family: 'Raleway';
}
/* class-sect */

.class-sect{
	width: 100%;
	height: 300px;
	text-align: center;
}
.creation{
	width: 55%;
	height: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	padding: 1rem;
}
.creation-img{
	width: 40%;
	height: 100%;
	overflow: hidden;
	border-radius:0.5rem ;
	background-color: rebeccapurple;
}
.creation-info{
	width: 40%;
	height:100%;
	background-color: white;
	display: flex;align-items: center;
	justify-content: center;
	
	border-radius:0.5rem ;

}
.creation-info li{
	margin: 2rem;
	font-weight: bold;
	font-family: 'Montserrat';
}



/* Section class-section */

.class-section{
	width: 100%;
	height: 300px;
	text-align: center;
}

.Cycle{
	width: 55%;
	height: 70%;
	display: flex;
	gap: 3rem;
	justify-content: space-between;
	align-items: center;
	justify-content: center;
	margin: 0 auto;

}

.PremierCycle{
	width: 40%;
	height: 90%;
	background-color: white;
	font-weight: bold;
	font-family: 'Raleway';
	border-radius:0.5rem;
}


.secondCycle{
	
	border-radius:0.5rem ;
	background-color: white;
	width: 40%;
	height: 90%;
	font-weight: bold;
	font-family: 'Raleway';
	display: none;
}

.PremierTitle, .sixTitle, .cinqTitle,.quatreTitle, .troisTitle {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 15px;
	margin: 0.5rem;
}

.class-section .title{
	font-weight: bold;
	font-family: 'Raleway';

}
/* Localistaion */


.local-sect{
	width: 100%;
	height: 400px;
	text-align: center;
}
.local{
	width: 70%;
	height: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	padding: 1rem;
}
.local-img{
	width: 40%;
	height: 100%;
	overflow: hidden;
	border-radius:0.5rem ;
	background-color: rebeccapurple;
}
.local-info{
	width: 55%;
	height:100%;
	background-color: white;
	border-radius:0.5rem ;
	padding: 20px;

}

.commune{
	display: flex;
	margin-top: 0.4rem;
	justify-content: space-around;
	align-items: center;
	gap: 2rem;
	height:auto;
}
.local-sect .title{
	font-weight: bold;
	font-family: 'Raleway';
}
.commune p{
	text-align: start;
	width: 50%;
	height: auto;
	font-size: 1.05rem;
	font-weight: bold;
	font-family: 'Raleway';
}


/* Resultats */
.result-sect{
	width: 100%;
	height: 400px;
	text-align: center;
	font-family: 'Montserrat';
}
.result-img{
	width: 40%;
	height: 100%;
	overflow: hidden;
	border-radius:0.5rem ;
	background-color: rebeccapurple;
}
.result-info{
	width: 55%;
	height:100%;
	background-color: white;
	border-radius:0.5rem ;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	font-size: 0.8rem;

}
.result-info .bepc
{
	width: 100%;
	height: 50%;
	font-size: 1rem;
	/* display: none; */
}

.result-info  .bpyear1 , .result-info .bpyear2{
	width: 100%;
	height: 40%;;display: flex;
	justify-content: center;
	align-items: center;
}
.result-info .bpyear1 p , .result-info  .bpyear2 p{
	width: 50%;
	height: auto;
	font-weight: bold;
	font-size: 1.5rem;
}
.result-info .bac
{
	width: 100%;
	height: 50%;
	font-size: 1rem;
}

.result-info .bac .bacyear1 , .result-info .bac .bacyear2{
	width: 100%;
	height: 40%;;display: flex;
	justify-content: center;
	align-items: center;
}

.result-info .bac .bacyear1 p , .result-info .bac .bacyear2 p{

	width: 50%;
	height: auto;
	font-weight: bold;
	font-size: 1.5rem;
}

/*  Tranche de scolarite */


.local-sect{
	width: 100%;
	height: 400px;
	text-align: center;
}
.local{
	width: 70%;
	height: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	padding: 1rem;
}
.local-img{
	width: 40%;
	height: 100%;
	overflow: hidden;
	border-radius:0.5rem ;
	background-color: rebeccapurple;
}
.local-info{
	width: 55%;
	height:100%;
	background-color: white;
	border-radius:0.5rem ;

}

.commune{
	display: flex;
	margin-top: 0.4rem;
	justify-content: space-around;
	align-items: center;
	gap: 2rem;
}
.local-sect .title{
	font-weight: bold;
	font-family: 'Raleway';
}
.commune p{
	text-align: start;
	width: 50%;
	height: auto;
	font-size: 1.05rem;
	font-weight: bold;
	font-family: 'Raleway';
}


/* Resultats */

.tranch-sect{
	width: 100%;
	height: 400px;
	text-align: center;
	font-family: 'Montserrat';
}

.tranch-img{
	width: 40%;
	height: 100%;
	overflow: hidden;
	border-radius:0.5rem ;
	background-color: rebeccapurple;
}
.tranch-info{
	width: 55%;
	height:100%;
	background-color: white;
	border-radius:0.5rem ;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;

}

.tranche {
	width: 70%;
	height: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	padding: 1rem;
}


.tranch-info .second{
	width: 100%;
	height: 50%;
}

.second .secondCyc{
	width: 100%;
	height: 70%;
}

.secondCyc .elemOne{
	width: 100%;
	height: 100%;
}
.elemOne p{
	width: 100%;
	height: 50%;
}




.first{
	width: 100%;
	height: 50%;
}

.first .firstCyc{
	width: 100%;
	height: 70%;
}

.firstCyc .elemOne{
	width: 100%;
	height: 100%;
}
.elemOne p{
	width: 100%;
	height: 50%;
}


/* Footer */


footer{
	width: 100%;
	height: auto;
	color: white;
    background-color: var(--border);
	margin-top: 10%;
  }
  .log h2{
	text-align: center;
	margin-bottom: 10px;
	font-family: 'Raleway';
  }
 	.log span{
		width: 50px;
		height: 40px;	
		margin-left:10px ;
	} 
	.log span .fa-brands{
		font-size: 2rem;
	}
  .primaire{
	width: 100%;
	height: 40px;
	display: flex;
	background-color:#EDF2F8;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 2rem;
	font-family: 'Raleway';
  }
  
    .seconde{
	
	display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    align-items: center;
  }
  .seconde div{
	font-family: 'Raleway';
	  margin: 0 auto;
	  margin-top: 30px;
  }
  .logo i{
	color: white;
  }
  
  
  .categories p{
	line-height: 28px;
	font-family: 'Raleway';
  }
 
  
  .text{
	font-family: 'Raleway';
	font-weight: bold;
	font-size: 30px;
   
  }
  /* .hero{
		width: 40%;
		margin:10px auto;
		height: calc(50vh - 64px);
		flex-direction: row;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		background-color: red;
		
	} */
  
  
  
  /**************  Media Queries  **************************/
  
  
  @media(max-width:992px){
	
  
	.seconde{
	  flex-direction: column;
	}
	.container{
		flex-direction: column;
	}
	
 
  
  }





  
  @media(max-width:576px){
	.dropdown-menu{
	  left: 2rem;
	  width: unset;
	  z-index: 1000;
	}
	
	.contenu {
	  width: auto;
	  height: auto;
  }
  }


.header .menu > .menu-item > .sub-menu > .menu-item{
	display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a{
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	color: #000000;
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.header .open-nav-menu{
	height: 34px;
	width: 40px;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: #000000;
    position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	box-sizing: border-box;
}
.header .open-nav-menu span:before{
	top:-7px;
}
.header .open-nav-menu span:after{
	top:7px;
}
.header .close-nav-menu{
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.header .close-nav-menu img{
	width: 16px;
}
.header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}



/* responsive */
@media(min-width: 992px){
.header .menu > .menu-item-has-children:hover > .sub-menu{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
 }
 .header .menu > .menu-item-has-children:hover > a .plus:after{
	transform: translate(-50%,-50%) rotate(0deg);		
 }
}

@media(max-width: 991px){
	.header .menu-overlay.active{
	visibility: visible;
	opacity: 1;
}
	.header .nav-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: #222222;
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}
	.header .nav-menu.open{
		visibility: visible;
		right: 0px;
	}
	.header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.header .menu > .menu-item-has-children > a{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header .menu > .menu-item > a{
		color: #ffffff;
		padding: 12px 15px;
		border-bottom: 1px solid #333333;
	}
	.header .menu > .menu-item:first-child > a{
	    border-top: 1px solid #333333;	
	}
	.header .menu > .menu-item > a .plus:before, 
	.header .menu > .menu-item > a .plus:after{
		background-color: #ffffff;
	}
	.header .menu > .menu-item-has-children.active > a .plus:after{
        transform: translate(-50%,-50%) rotate(0deg);
	}
	.header .menu > .menu-item > .sub-menu{
		width: 100%;
		position: relative;
		opacity: 1;
		visibility: visible;
		border:none;
		background-color: transparent;
		box-shadow: none;
		transform: translateY(0px);
		padding: 0px;
		left: auto;
		top:auto;
		max-height: 0;
		overflow: hidden;
	}
	.header .menu > .menu-item > .sub-menu > .menu-item > a{
		padding: 12px 45px;
		color: #ffffff;
		border-bottom: 1px solid #333333;
	}
	.header .close-nav-menu,
	.header .open-nav-menu{
		display: flex;
	}
}