*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a
{
    color: black;
    list-style: none;
    text-decoration: none;
}
body
{
    background-color: #EDF2F8;
}

/* HEADER */ 
header
{
    background-color: white;
    width: 100%;
    height: 50px;
}
header nav
{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 60px;
    font-size: 1.2rem;
}
nav ul 
{
    display: flex;
    gap: 30px;
    text-decoration: none;
    list-style: none;
    padding: 20px;
    padding-top: 20px;
    cursor: pointer;
}
nav ul li ul li
{
    display: inline;
}
.menu-deroulant li a:link , .menu-deroulant li  a:visited
{
    display: block;
    color: #fff;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
}


.menu-deroulant li a:hover{background-color: #545AE8;}
.menu-deroulant li a:active{background-color: aquamarine;}

.menu-deroulant .sous-menu
{
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
}
.menu-deroulant .sous-menu li
{
    float: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}
.menu-deroulant .sous-menu li a:link , .menu-deroulant li a:visited
{
    display: block;
    color: #fff;
    background-color: #545AE8;
    text-decoration: none;
}
.sous-menu li a:hover
{
    background-color: aquamarine;
}
.menu-deroulant li :hover .sous-menu
{
    display: block;
}
nav ul li a:hover , ul li:hover
{
    color: #545AE8;
}
header img
{
    width: 120px;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* MAIN_IMAGE */
.main_image
{
    background-image: url('../IMAGES/pexels-photo-5905965.webp');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 732px;
}
.main_image h1
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 220px;
    font-size: 3.2rem;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
}
.main_image p
{
    text-align: center;
    padding-top: 20px;
    font-size: 1.2rem;
    color: white;

}
h2
{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 150px;
    text-transform: uppercase;
}

/* BULLE */
.bulle
{
    position: relative;
}
.bulle img
{
    width: 400px;
    height: 400px;
    border-radius: 23px;
    margin-left: 120px;
    position: relative;
}
.bulle_info
{
    width: 55%;
    height: 50%;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    position: absolute;
    left: 26%;
    bottom: -10%;
}
.bulle_info p
{
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
}

/* info */
.info
{
    
    flex-wrap: wrap;
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}
.info-1,.info-2,.info-3
{
width: 20%;
height:  100%;
padding-bottom: 50px;
background-color: white;
border-top-left-radius: 23px;
border: 1px solid black;
}
.headInfo
{
    width: 100%;
    height: 50px;
    background-color: #545AE8;
    font-size: 1.2rem;
    padding-top: 15px;
    padding-left: 10px;
    border-top-left-radius: 23px;
    font-weight: bolder;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    border: 1px solid black;
}
.info-1 p,.info-2 p,.info-3 p
{
     font-size: 1.4rem;
     padding: 10px;
}

/* BONUS */
.bonus
{
    margin-top: 150px;
    margin-right: 50px;
    position: relative;
    text-transform: uppercase;
    color: white;
}
.bonus img
{
    /* float: right; */
    width: 50%;
    height: 60%;
    position: relative;
    right: -50%;
}
.first
{
    padding-bottom: 50px;
    width: 30%;
    height: 150px;  
    font-size: 2.3rem; 
    text-align: center;
    padding-left: 5px;
    padding-top: 4%;
    text-transform: uppercase;
    background-color: #545AE8;
    border: 2px solid black;
    position: absolute;
    right: 35%;
    top: 45%;
}
.second
{
    width: 45%;
    height: 200px;
    padding-left: 20px;
    padding-top: 5%;
    font-size: 2.3rem;
    background-color: #545AE8;
    text-transform: uppercase;
    border: 2px solid black;
    position: absolute;
    top: 70%;
    right: 35%;
}

/* END */
.end
{
    
}
.end img
{
    margin-top: 100px;
    width: 100%;
    height: 400px;
}

/* FOOTER */
.footerLogo
{
    margin-top: 10%;

}
.footerLogo img
{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 120px;
    height: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
}
footer
{
    /* margin-top: 30px; */
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
    background-color: #545AE8;
}
footer i
{
    color: black;
    padding-right: 20px;
    font-size: 2rem;
    padding-bottom: 50px;
    padding-left: 10px;
}
footer h1
{
    font-size: 1.5rem;
    font-weight: bold;
}
footer p
{
    padding-top: 5px;
    font-size: 1.2rem;
}
.nous_suivre h1
{
    padding-bottom: 5px;
    padding-left: 30px;
}
.contact
{

}