*, *::after,*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--colorPrimaire : #545AE8;
	--border: #1B8AF1;
	
}

body{
	line-height: 1.5;
	background-color: #EDF2F8;
	font-weight: 400;
}

*, *::after, *::before{
	margin:0;
	box-sizing: border-box;
	padding: 0;
}
.element{
	width: 100%;height: auto;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.xon{
	width: 100%;
	height: 100vh;
	position: relative;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
/*header*/
.header{
	width: 100%;
	padding: 0.1rem;
}
.header-main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Montserrat';
	padding: 10px 0;
	border-radius: 4px;
}
.header .logo{
	padding: 0 15px;
}
.header .logo a{
	font-size: 30px;
	text-transform: capitalize;
	color: var(--colorPrimaire);
	font-weight: 600;
}
.header .nav-menu{
	padding: 0 15px;
}
.header .menu > .menu-item{
	display: inline-block;
	margin-left: 30px;
	position: relative;
}
.header .menu > .menu-item > a{
	display: block;
	padding: 12px 0;
	font-size: 16px;
	color: #000000;
	text-transform: capitalize;
	font-weight: 600;
	transition: all 0.3s ease;
}
.header .menu > .menu-item > a .plus{
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left:5px; 
	pointer-events: none;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after{
	content:'';
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top:50%;
	background-color: #000000;
	height: 2px;
	width: 100%;
	transform: translate(-50%,-50%);
	transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after{
   background-color: var(--colorPrimaire);
}
.header .menu > .menu-item > a .plus:after{
   transform: translate(-50%,-50%) rotate(-90deg);	
}
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a{
	color: var(--colorPrimaire);
}
.header .menu > .menu-item > .sub-menu{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 220px;
	position: absolute;
	left:0;
	top:100%;
	background-color: #ffffff;
	padding: 10px 0;
	border-top: 3px solid var(--colorPrimaire);
	transform: translateY(10px);
	transition: all 0.3s ease;
	opacity:0;
	visibility: hidden;
}

/* MAIN_IMAGE */
.home-section
{
    background-image: url('../IMAGES/pexels-photo-5905965.webp');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 732px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.home-section h1
{
    text-align: center;
    padding-top: 220px;
    font-size: 2.6rem;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    width: 60%;
    height: auto;
}
.home-section p
{
    text-align: center;
    padding-top: 20px;
    font-size: 1.5rem;
    color: white;

}
h2
{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 150px;
    text-transform: uppercase;
}

/* BULLE */
.bulle
{
    position: relative;
}
.bulle img
{
    width: 45%;
    height: 45%;
    border-radius: 23px;
    margin-left: 120px;
    position: relative;
}
.bulle_info
{
    width: 55%;
    height: 40%;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    position: absolute;
    left: 26%;
    bottom: -10%;
}
.bulle_info p
{
    font-size: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
}

/* info */
.info
{
    
    flex-wrap: wrap;
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}
.info-1,.info-2,.info-3
{
width: 20%;
height:  100%;
padding-bottom: 50px;
background-color: white;
border-top-left-radius: 23px;
border: 1px solid black;
}
.headInfo
{
    width: 100%;
    height: 50px;
    background-color: #545AE8;
    font-size: 1.2rem;
    padding-top: 15px;
    padding-left: 10px;
    border-top-left-radius: 23px;
    font-weight: bolder;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    border: 1px solid black;
}
.info-1 p,.info-2 p,.info-3 p
{
     font-size: 1.4rem;
     padding: 10px;
}

/* BONUS */
.bonus
{
    margin-top: 150px;
    margin-right: 50px;
    position: relative;
    text-transform: uppercase;
    color: white;
}
.bonus img
{
    /* float: right; */
    width: 50%;
    height: 60%;
    position: relative;
    right: -50%;
}
.first
{
    padding-bottom: 50px;
    width: 30%;
    height: 20%;  
    font-size: 2.3rem; 
    text-align: center;
    padding-left: 5px;
    padding-top: 4%;
    text-transform: uppercase;
    background-color: #545AE8;
    border: 2px solid black;
    position: absolute;
    right: 35%;
    top: 45%;
}
.second
{
    width: 45%;
    height: 22%;
    padding-left: 20px;
    padding-top: 5%;
    font-size: 2.3rem;
    background-color: #545AE8;
    text-transform: uppercase;
    border: 2px solid black;
    position: absolute;
    top: 70%;
    right: 35%;
}

/* END */
/* .end
{
    
} */
.end img
{
    margin-top: 100px;
    width: 100%;
    height: 400px;
}

/* FOOTER */
.footerLogo
{
    margin-top: 10%;

}
.footerLogo img
{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 120px;
    height: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
}
footer
{
    /* margin-top: 30px; */
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
    background-color: #545AE8;
}
footer i
{
    color: black;
    padding-right: 20px;
    font-size: 2rem;
    padding-bottom: 50px;
    padding-left: 10px;
}
footer h1
{
    font-size: 1.5rem;
    font-weight: bold;
}
footer p
{
    padding-top: 5px;
    font-size: 1.2rem;
}
.nous_suivre h1
{
    padding-bottom: 5px;
    padding-left: 30px;
}

@media screen and (max-width : 900px){
    .main_image{
        width: 100%;
        height: 400px;
    }
    .main_image h1{
        font-size: 2rem ;
    }
    .main_image p{
        font-size: 1.5rem;
    }
    .bulle
    {
        margin-left: 5%;
    }
    .bulle_info p{
        font-size: 1.5rem;
    }
    h2{
        margin-bottom: 100px;
    }
    *{
        font-size: 100%;
    }
    .first , .second, .headInfo{
    font-size: 100%;
    }
    .first{
        width: 30%;
        height: 50px;

    }
    .second{
        width: 45%;
        height: 80px;
        padding-top: 2%;
        
    }
    .bulle_info{
        height: 57%;
    }
    .bulle_info p{
        padding-top: 3.5%;
        padding-left: 2.5%;
        padding-right: 2.5%;

    }
    .info-1,.info-2,.info-3{
        width: 200px;
        padding-bottom: 2%;
    }
    .info-1 p,.info-2 p,.info-3 p{
        font-size: 100%;
    }
    .bulle img{
        margin-left: 3%;
    }
    footer{
        width: 100%;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
    }
    footer i{
        padding-bottom: 5%;
    }
    .nous_suivre{
        padding-bottom: 0;
    }
    .contact, .categories{
        margin-top: 5%;
    }
    
}

@media screen and (max-width : 600px) {
    .main_image{
        height:200px;
        padding-top: 1%;
    }
    .main_image h1 , .main_image p{
        font-size: 100%;
    }
    .bulle img{
        width: 60%;
    }
    .bulle_info{
        width: 70%;
    }
    .bulle_info p{
        font-size: 80%;
        padding-left: 5px;
    }
    .bonus  img{
        width: 70%;
        height: 350px;
    }
    h2{
        font-size: 14px;
    }
    .headInfo{
        font-size: 1.2rem;
    }
    .info{
        margin-top: 120px;
    }
    .info-1,.info-2,.info-3{
        width: 50%;
        height: 100%;
        font-size: 13px;
        margin-top: 20px;
    }
    .first{
        width: 50%;
        font-size: 15px;
    }
    .second{
        width: 60%;
        font-size: 15px;
        padding-top: 10px;
    }
    .end img{
        width: 100%;
        height: 150px;
        margin-right: 50%;
    }

}



  /**************  Media Queries  **************************/
  
  
  @media(max-width:992px){
	
  
	.seconde{
	  flex-direction: column;
	}
	.container{
		flex-direction: column;
	}
	
 
  
  }





  
  @media(max-width:576px){
	.dropdown-menu{
	  left: 2rem;
	  width: unset;
	  z-index: 1000;
	}
	
	.contenu {
	  width: auto;
	  height: auto;
  }
  }


.header .menu > .menu-item > .sub-menu > .menu-item{
	display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a{
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	color: #000000;
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.header .open-nav-menu{
	height: 34px;
	width: 40px;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}


.header .close-nav-menu{
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.header .close-nav-menu img{
	width: 16px;
}
.header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}



/* responsive */
@media(min-width: 992px){
.header .menu > .menu-item-has-children:hover > .sub-menu{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
 }
 .header .menu > .menu-item-has-children:hover > a .plus:after{
	transform: translate(-50%,-50%) rotate(0deg);		
 }
}

@media(max-width: 991px){
	.header .menu-overlay.active{
	visibility: visible;
	opacity: 1;
}
	.header .nav-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: #222222;
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}
	.header .nav-menu.open{
		visibility: visible;
		right: 0px;
	}
	.header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.header .menu > .menu-item-has-children > a{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header .menu > .menu-item > a{
		color: #ffffff;
		padding: 12px 15px;
		border-bottom: 1px solid #333333;
	}
	.header .menu > .menu-item:first-child > a{
	    border-top: 1px solid #333333;	
	}
	.header .menu > .menu-item > a .plus:before, 
	.header .menu > .menu-item > a .plus:after{
		background-color: #ffffff;
	}
	.header .menu > .menu-item-has-children.active > a .plus:after{
        transform: translate(-50%,-50%) rotate(0deg);
	}
	.header .menu > .menu-item > .sub-menu{
		width: 100%;
		position: relative;
		opacity: 1;
		visibility: visible;
		border:none;
		background-color: transparent;
		box-shadow: none;
		transform: translateY(0px);
		padding: 0px;
		left: auto;
		top:auto;
		max-height: 0;
		overflow: hidden;
	}
	.header .menu > .menu-item > .sub-menu > .menu-item > a{
		padding: 12px 45px;
		color: #ffffff;
		border-bottom: 1px solid #333333;
	}
	.header .close-nav-menu,
	.header .open-nav-menu{
		display: flex;
	}
}